body {
  background: hsl(30, 54%, 90%);
  font-family: "Outfit", sans-serif;
}
#bag {
  display: flex;
  justify-content: center;
}
#card {
  margin-top: 3%;
  background: white;
  width: 50%;
  padding: 2%;
  border-radius: 30px;
}
#omel {
  width: 100%;
  border-radius: 10px;
}
#prep {
  background: hsl(330, 100%, 98%);
  padding: 1% 3% 3%;
  border-radius: 10px;
}
#menuTi {
  font-size: 20px;
  font-weight: 700;
  color: hsl(332, 51%, 32%);
}
#prep li {
  margin-left: 5%;
  color: hsl(332, 51%, 32%);
}
#prep li p {
  margin-left: 3%;
  color: black;
  font-size: 15px;
}
.titles {
  color: hsl(14, 45%, 36%);
}
.genLis li p {
  margin-left: 2%;
  color: black;
}
.genLis li {
  color: hsl(14, 45%, 36%);
  margin-left: -3%;
}
.inst li p {
  color: black;
}
#nutxt {
  font-size: 14px;
}
.cant {
  color: hsl(14, 45%, 36%);
}
.menu {
  display: flex;
  justify-content: center;
}
#tableMen {
  width: 100%;
}

@media (max-width: 900px) {
  body {
    background: hsl(30, 54%, 90%);
    font-family: "Outfit", sans-serif;
  }
  #bag {
    display: flex;
    justify-content: center;
  }
  #card {
    margin-top: 3%;
    background: white;
    width: max-content;
    padding: 2%;
    border-radius: 30px;
  }
  #omel {
    width: 100%;
    border-radius: 10px;
  }
  #prep {
    background: hsl(330, 100%, 98%);
    padding: 1% 3% 3%;
    border-radius: 10px;
  }
  #menuTi {
    font-size: 20px;
    font-weight: 700;
    color: hsl(332, 51%, 32%);
  }
  #prep li {
    margin-left: 5%;
    color: hsl(332, 51%, 32%);
  }
  #prep li p {
    margin-left: 3%;
    color: black;
    font-size: 15px;
  }
  .titles {
    color: hsl(14, 45%, 36%);
  }
  .genLis li p {
    margin-left: 2%;
    color: black;
  }
  .genLis li {
    color: hsl(14, 45%, 36%);
    margin-left: -3%;
  }
  .inst li p {
    color: black;
  }
  #nutxt {
    font-size: 14px;
  }
  .cant {
    color: hsl(14, 45%, 36%);
  }
  .menu {
    display: flex;
    justify-content: center;
  }
  #tableMen {
    width: 100%;
  }
}
